<div class="panel panel-primary">
    <div class="panel-heading">
        <h1>{{ vm.hello }}</h1>
    </div>
</div>

<ul class="news list-group col-sm-12" dir-paginate="topStory in vm.topStories | filter:search | itemsPerPage: 10">
    <li class="list-group-item"><span>Story By</span>: <a ui-sref="postlistforuser({userName:topStory.by})">{{ topStory.by }}</a></li>
    <li class="list-group-item"><span>Story Title</span>: {{ topStory.title }}</li>
    <li class="list-group-item"><span>Story Link</span>: <a href="{{ topStory.url }}" target="_blank">{{ topStory.url }}</a></li>
    <li class="list-group-item" ng-if="topStory.kids"><span>Comments( {{ topStory.kids.length }} )</span>: <a ui-sref="topstorycomments({id:topStory.id})">Click to view comments</a></li>
    <li class="list-group-item"><span>Post Time</span>: {{ topStory.time * 1000 | date:'d MMMM yyyy HH:mm:ss ' }}</li>
</ul>

<div class="col-sm-6">
    <dir-pagination-controls
            max-size="10"
            direction-links="true"
            boundary-links="true">
    </dir-pagination-controls>
</div>

